[2016-02-10 11:34] BondaCB opened #1 "Ideas and Request"
Requests
---

---

Ideas
---

- [ ] Dashboard: # of unplayed games
- [ ] Suggest coop games your friends have
- [ ] Launch random game
- [ ] Screenshot your backlog and share on social media
- [ ] Modify profile to reflect the currently playing games (without a server)
- [ ] Export Steam games to backloggery
 - maybe show steamspy data as chart for games.
- include GOG and / or / other platforms g

[2016-11-08 10:29] gsabater opened #2 "ToDo"
- [ ]

[2016-11-08 23:39] #2 closed

[2016-11-16 12:17] gsabater opened #4 "Wishlist scan not working"
The "scan wishlist now" button is not working

[2016-11-16 12:17] gsabater opened #5 "$rootScope.settings.library.wishlist not defined."
The setting is not included by default. (was library_wishlist)

[2016-11-16 12:18] gsabater opened #6 "Add warning about language preferences."
tags and information is get in user language:
https://store.steampowered.com/account/languagepreferences

[2016-11-16 15:46] gsabater opened #7 "Loading a game with age check returns "game not available""
Because the user don't have the cookie of age check.
Borderlands 2 has this issue.

[2016-11-16 15:49] gsabater opened #8 "Achievements "true" on some games."
If for some reason, the extension is unable to get the user achievements information for a game, the page shows "achievements true"

[2016-11-16 16:00] #5 closed

[2016-11-16 18:27] gsabater opened #9 "Include keywords in search"
For example "wishlist" or "hidden" should bring games labeled as that

[2016-11-16 18:29] gsabater opened #10 "Improve grid by calculating width of container and apply margin-right to elements."

[2016-11-17 04:24] gsabater opened #11 "Order by Beating time returns NaN for games without HLTB info"
In fact, those games are not filtered out when ordering by beating time.

[2016-11-17 07:00] gsabater opened #12 "Add wishlist games to db without name"
but use the poster appid to show at least the game on the backlog.
instead of adding it to user.wishlist and scan it afterwards

[2016-11-20 19:54] gsabater commented on #7
Fixed by scraping the game on the server.

[2016-11-20 19:54] #7 closed

[2016-11-20 19:55] gsabater commented on #6
This should be only a message informing that everything will be stored in english.

[2016-11-20 19:55] #6 closed

[2016-11-21 00:47] #12 closed

[2016-11-21 11:33] BondaCB opened #14 "Analytics metrics on backend calls"

[2016-11-21 20:30] gsabater opened #15 "Hide games without hltb info when ordering by beating time"

[2016-11-22 22:16] BondaCB opened #17 "Create cloud settings group"
The cloud settings allow the user to activate the cloud storage for lists, settings and maybe games.

[2016-11-27 03:13] gsabater opened #18 "Add toaster notifications"

[2016-11-27 03:14] BondaCB opened #19 "Server: Check if server is online or offline and notify via toaster"

[2016-11-28 14:24] #10 closed

[2016-11-28 14:25] #4 closed

[2016-11-30 09:18] gsabater opened #20 "Server: confirmation for deleted items"
When getappdetails returns success false, count the get iterations up to five, and save cache for only 12 or 6h.

[2016-11-30 09:21] gsabater opened #21 "Server: Antiflood for limit"
When getappdetails returns false for three items in a row, block incoming connections for three minutes.

[2016-11-30 12:11] gsabater opened #22 "Collections: Save appid as int in collections.apps"
When saved as string, might not match the id when adding or removing from collection.

[2016-11-30 12:21] gsabater opened #23 "Review all db push and convert all id and appid attributes to int"
appid might be string when coming from getplayersummaries and int when fetch from steam-backlog server

[2016-11-30 21:25] gsabater commented on #23
Solved in module.ajax
[code]

[2016-11-30 21:25] #23 closed

[2016-11-30 21:32] gsabater commented on #22
solved by converting to string on module.ajax #23

[2016-11-30 21:32] #22 closed

[2016-11-30 21:38] gsabater opened #24 "Notifications: Add chrome notifications for extension big updates + notifications setting"
In settings, disable all notifications

[2016-12-02 22:59] gsabater opened #26 "Updating: When updating and saving user data, wishlist is removed"

[2016-12-05 21:17] gsabater opened #27 "todo: when searching inform if there is any hidden game that match the results."
might be done by adding a counter when skipping a hiden game

[2016-12-05 21:18] gsabater opened #28 "deleted games is too confusing, rename to not available or something similar."
a little tooltip with help explaining why is not available (might be because of steam servers down, steam backlog servers down or something similar)

[2016-12-06 16:15] gsabater opened #29 "search box : ideas from package control"
The search box in https://packagecontrol.io/search/keyword has a hotkey to focus the input and also has some nice suggestions in form of keywords

[2016-12-16 13:23] gsabater opened #30 "Dynamicstore: get elements in english"
Modify dynamicstore url to include lang param
`http://store.steampowered.com/dynamicstore/userdata/?l=english`

[2016-12-19 08:47] gsabater opened #31 "Refresh library:"
- Añadir una opción para configurar si actualizar los juegos periodicamente o solo la primera vez.
- Añadir una opción para actualizar juegos en background.
- Si no hay ningún juego a actualizar, pillar cinco juegos random y actualizarlos para mantener la libreria actualizada sin grandes golpes

[2016-12-22 22:05] gsabater opened #32 "Cambios en actualización"
Una vez la libreria haya sido actualizada completamente, actualizar los juegos en intervalos de 30 segundos mientras el backlog esté abierto.

No forzar la actualización total de la librería para juegos que ya están cacheados.

[2016-12-30 14:43] BondaCB opened #33 "Feature: Log"
Isthereanydeal has a log where you can see the full library changes and also where explains how a game is marked as not found or removed.

![captura](https://cloud.githubusercontent.com/assets/8863225/21566798/b2caac00-cea6-11e6-9b64-a3a46d905c53.PNG)

[2017-02-06 19:07] gsabater opened #34 "Filter games and add an option to include DLC"
Steam allow the filtering of games by
` Games
 Software
 Streaming Videos
 Downloadable Content
 Demos
 Mods
 Hardware
 Trailers
 Include Bundles`

make this a select in the dashboard or only use games with an option to include other in settings

[2017-02-11 21:43] BondaCB opened #35 "Achievements"
Separar achievements en UN modulo aparte.
Hacer una opción para escanear logros y activarlos como filtro y ui.

Avisar de que el tiempo de carga de juegos será mucho mayor.

[2017-02-12 01:33] gsabater opened #36 "get achievements on server"
parse int in #achievement_block .block-title element

[2017-02-16 12:18] gsabater opened #37 "nueva categoria de filtros:"
shared / split screen
http://store.steampowered.com/app/274190/

category2=24

[2017-02-16 17:22] gsabater commented on #8
Old because now the extension won't show achievements unless the user chooses to in options.
A whole new achievements system will be done.

[2017-02-16 17:22] #8 closed

[2017-02-16 17:23] gsabater commented on #9
Wishlist is now an option in the menu, and hidden games are hinted if match the search.
This is deprecated.

[2017-02-16 17:23] #9 closed

[2017-02-17 00:20] #37 closed

[2017-02-17 00:20] gsabater commented on #37
done

[2017-02-17 00:31] gsabater commented on #36
done

[2017-02-17 00:31] #36 closed

[2017-02-17 10:41] gsabater opened #38 "synced with steam some time ago"
LEave a message in settings and in the CTA like in steam gifts
![capture_](https://cloud.githubusercontent.com/assets/8863225/23062438/fbc7ddee-f505-11e6-9dbd-f06aed673a64.PNG)

[2017-02-17 10:55] gsabater opened #39 "Notification for updates"
use chrome notifications api to inform about extension updates.
Make a page for changelog similar to https://desktop.github.com/release-notes/windows/

[2017-02-18 01:26] gsabater commented on #38
done

[2017-02-18 01:26] #38 closed

[2017-02-18 01:31] gsabater commented on #32
deprecated

[2017-02-18 01:31] #32 closed

[2017-02-18 01:31] gsabater commented on #31
deprecated

[2017-02-18 01:31] #31 closed

[2017-02-18 01:36] gsabater commented on #27
done

[2017-02-18 01:36] #27 closed

[2017-02-20 20:24] gsabater opened #40 "use curl http response codes to determine if a game is removed or not"
$info   = curl_getinfo($ch);
http_response_code($info['http_code']);

302.

NOTE: el curl a https se mueve a http con 302
http://stackoverflow.com/questions/2964834/php-check-if-url-redirects

[2017-02-21 23:12] BondaCB opened #42 "implement is there any deal for wishlist apps"
in card
https://isthereanydeal.com/apps/

[2017-02-21 23:48] BondaCB opened #43 "Action on browser button to open the extension"

[2017-02-21 23:57] gsabater opened #44 "Idea: Create badge rewards for patreon users?"

[2017-02-22 16:09] gsabater opened #45 "Roadmap"
- [ ] Web version

[2017-02-22 16:29] #44 closed

[2017-02-22 21:17] gsabater commented on #30
done in RC2

[2017-02-22 21:17] #30 closed

[2017-02-22 21:18] #26 closed

[2017-02-22 21:18] #18 closed

[2017-02-22 21:20] #11 closed

[2017-02-22 21:20] #15 closed

[2017-02-27 15:49] gsabater opened #46 "Server: Scrap platform for every app"
Scrap and store platform (win, osx, linux) for every app and store in ddbb.
Later those platforms can be used as filters.
And even can be shown over the app thumbnail in form of icons (setting to enable or disable)

[2017-03-03 21:03] gsabater opened #47 "Scrap user score in addition to metascore"
steam api returns metascore url if the app has metascore

[2017-03-03 21:03] gsabater commented on #46
Done

[2017-03-03 21:03] #46 closed

[2017-03-03 21:03] gsabater commented on #45
https://trello.com/b/fT77nsl3/steam-backlog

[2017-03-03 21:03] #45 closed

[2017-03-03 21:04] gsabater commented on #40
Done

[2017-03-03 21:04] #40 closed

[2017-03-04 01:22] #39 closed

[2017-03-04 01:23] #34 closed

[2017-03-04 01:23] gsabater commented on #20
old

[2017-03-04 01:23] #20 closed

[2017-03-04 01:23] gsabater commented on #21
old

[2017-03-04 01:23] #21 closed

[2017-03-04 01:24] gsabater commented on #24
done without settings

[2017-03-04 01:24] #24 closed

[2017-03-08 19:28] gsabater commented on #47
done

[2017-03-08 19:28] #47 closed

[2017-03-11 16:14] gsabater opened #48 "scores"
- [x]  Update extension with the new score system.
- [x] add order by userscore.
- [x] remove old score columns in database
- [x] Hide apps with steamscore 100 but are not overwhelmingly positive when ordering by Steam Score

[2017-03-11 16:15] #29 closed

[2017-03-26 18:25] #48 closed

[2017-03-26 18:29] gsabater commented on #28
done

[2017-03-26 18:29] #28 closed

[2018-09-04 19:46] #1 closed

[2018-09-04 19:47] #14 closed

[2018-09-04 19:47] #17 closed

[2018-09-04 19:48] #33 closed

[2018-09-04 19:48] #35 closed

[2018-09-04 19:48] #42 closed

[2018-09-04 19:48] #43 closed

[2018-09-04 19:48] #19 closed

[2018-09-04 19:50] gsabater opened #49 "Being able to delete a collection"
( Suggested by Makosipper on https://steamcommunity.com/groups/steam-backlog/discussions/2/1733210552672663706/ )

[2018-09-04 19:53] gsabater opened #50 "Hide tagged games from Library"
An option to hide from my Library all games that are in my Backlog (in either category). This would make it easier to find games that are not yet in the Backlog, and I wouldn't have to manually look for the games that are not marked already.

Suggested by Makosipper on https://steamcommunity.com/groups/steam-backlog/discussions/2/1733210552672663706/

[2018-09-04 19:55] gsabater opened #51 "Hidden Games display nothing"
The hidden games tab has no games.
The expected behavior is a list of hidden games.

Suggested by Makosipper via
https://steamcommunity.com/groups/steam-backlog/discussions/2/1733210552672663706/
and Wolvefire via Chat

[2018-09-04 19:57] gsabater opened #52 "Add a visual indicator on games you own in "all games" tab"
[code]

Suggested by Dragonfyre13 via Chat

[2018-09-05 09:56] gsabater opened #53 "Wrong visibility in the tags dropdown"
**Description**

Ah, seems there's a usability bug. Enter the "library" view, open the "With tags" dropdown next to search, the selected item has black text on the dark blue background, makes it nearly unreadable unless the user hovers over the element (at which point it becomes white text on a lighter blue background).

The relevant CSS rule is
.ui.menu .ui.dropdown .menu>.selected.item

With con

[2018-09-09 20:44] MakoSipper commented on #50
When this is implemented, I'll sure go back to using it. The other issues are a plus, but this is a must-have for me in particular =)

_subscribes_

[2018-09-11 14:39] gsabater opened #54 "Navigate through games with arrows"
It would be nice to change to the next game in the current view with keyboard arrows or arrows in screen.
And see the next game in the queue or collection.

Suggested via chat

[2018-09-11 14:42] gsabater opened #55 "Hide games with selected tags (inverse tag search)"
[code]

Suggested by Dragonfyre13 via Chat

[2018-09-11 14:43] gsabater opened #56 "Wrong order when sorting by name"
[code]

By Wolvefire via Chat

[2018-09-13 15:12] gsabater commented on #56
Solved in the September release.
Complete changelog in https://steam-backlog.com/changelog

[2018-09-13 15:12] #56 closed

[2018-09-27 20:43] gsabater commented on #52
Implemented in September release.
Complete changelog in https://steam-backlog.com/changelog

[2018-09-27 20:43] #52 closed

[2018-09-30 10:51] gsabater commented on #50
Stremon has also asked for this via web Chat.

[code]

[2018-09-30 10:54] gsabater opened #57 "Deselect games when adding them to a backlog category"
[code]

Suggested by Stremon via Chat

[2018-09-30 10:54] gsabater commented on #57
I don't know if I would make this the default behaviour, but maybe we could make an option, a button or a switch to have the selection removed after adding the games to a category.

[2018-10-03 22:01] gsabater commented on #50
@MakoSipper
This feature will be implemented in a few days with another batch of changes.
I'd love to hear some feedback from you.

---

![git](https://user-images.githubusercontent.com/4948172/46441978-7946a800-c768-11e8-8cc1-7fdb16a6dee0.gif)

[2018-10-03 22:11] MakoSipper commented on #50
Nice to hear! "Show hidden games" will also be implemented? That's double awesome. I'll be sure to try it out, with great pleasure.

[2018-10-05 17:59] MakoSipper opened #58 "Unable to access all my backlogs (only "Playing")"
This looks like a new issue, on Chrome. I can only see my "Playing" backlog, but the tabs for other categories are gone.

On Firefox, the page doesn't seem to load properly (game cards don't load, new dropdrown seems off etc.)

[2018-10-05 22:34] MakoSipper commented on #58
Looks fixed now...

[2018-10-06 00:12] gsabater commented on #51
Fixed in October release.
Complete changelog in https://steam-backlog.com/changelog

[2018-10-06 00:12] #51 closed

[2018-10-06 06:54] MakoSipper opened #59 "Suggestion: Do not unmark games after placing them"
For example, if I pick 50 games from my "On Hold" and want to move them to to "Hidden", I'd have to select 50 games, remove them from "On Hold", and then find those 50 games again, select them again, and move them to Hidden.

[2018-10-06 06:57] MakoSipper commented on #57
Oh, I just suggested the opposite of this. For unselecting all games after placing them, you could just refresh the page as a workaround, but if you want to keep them selected, there's no way around now.

I think what would really be best for all cases would be a "Select/Unselect all [filtered games]". It would help in many other situations.

[2018-10-06 07:02] MakoSipper opened #60 "Suggestion: Never hide games in backlog while looking the backlog"
Even if the option is on, because this option makes no sense in the backlog. It should apply only to wishlist, library, and all steam games. Right now, it forces me to turn it on/off every time I move from the backlog to the library and vice versa.

[2018-10-06 11:31] gsabater commented on #60
Hello @MakoSipper , you mean the `"Hide games already in my backlog"` option?
That makes sense, we will take a look at it.

Thanks

[2018-10-06 14:47] MakoSipper commented on #60
Yes, that very same option ;)

[2018-10-06 23:12] MakoSipper opened #61 "Limit of 5000 items in the backlog"
I know I'm not the rule, but the exception, but I was adding games to my backlog in bulks, and suddenly I noticed after refreshing that many of the game weren't registered.

I currently have exactly 5,000 games in my backlog, across all categories, so I'm assuming that's a cap.

Is it possible to have a larger cap? Otherwise I think I'll be left out =(

[2018-10-07 00:36] MakoSipper commented on #61
Maybe it will store something, because my 5,000 games are now 4,981.

I've added one game to each category, but sometimes it takes some time before the website excluded some of the games, so I'll wait a bit more.

Is the limit per backlog or per category?

[2018-10-07 00:45] gsabater commented on #61
The limit would be per category

[2018-10-07 00:56] MakoSipper commented on #61
I could some arrangements to avoid filling the "On Hold" category, but the "Hidden" category is a bit harder to work around, I guess.

This is hard situation, I know, I just hope there's a solution even though I'm not qualified to help you come up with one.

[2018-10-07 21:39] MakoSipper opened #62 "Games not showing because of sorting order"
For example, if you open "All Steam games" tab and type in "getting", you'll get only one result, because the default sorting order is "Metascore". There are two other games with "getting" in the name that will show if you sort by "Game name".

I think that (1) sorting order shouldn't filter out results, and (2) the default sorting order should be "Game name".

[2018-10-07 21:43] MakoSipper opened #63 "New games not showing in library"
About 24h ago, I activated a game in my account (Getting Over It With Bennett Foddy), but it still doesn't show in my library. I've tried loging out and back in, forcing a hard refresh, clearing out cookies, but nothing did the trick.

Is this supposed to happen?

[2018-10-07 22:33] gsabater commented on #63
Hello @MakoSipper
Libraries are refreshed every 24h. But I see that your library has not refreshed since last 05/10 19:50, even when you have logged if several times again.

This might be a bug and we will take a look at it with high priority.

Thanks a lot for the feedback

[2018-10-07 22:41] MakoSipper commented on #62
Maaaaybe include some easy-to-see message, like `Hiding ### games because of the current sorting method` or something like that? It took me a while to figure out why I couldn't find the "Getting Over It" game.

[2018-10-07 22:43] MakoSipper commented on #63
Maybe I've been accessing it so much? Maybe it needs like 24h with no activity? Not sure if it makes any sense, just coming up with hypotheses. I've mixed A LOT with SB over the last 2 days...

[2018-10-08 14:08] gsabater commented on #63
Hello @MakoSipper

Thanks to your feedback we have located a bug where logging out and logging in again would change the "updated at" flag of the account and reset the 24h span, forcing the user to wait 24h again after that second login.

This should be solved now, and logging out and in again won't reset the 24h lock.

In next year we want to implement a supporter tier yearly plan that will allow

[2018-10-08 14:08] #63 closed

[2018-10-09 02:45] MakoSipper commented on #63
I confirm my library was now updated.

[2018-10-09 16:39] gsabater commented on #61
Hello @MakoSipper

We have changed a little our database infraestructure to allow for more storage on any Backlog categories. Now you  (and anyone), should be able to set even the double of games to any category.

We have ended paying a little more, but it's worth for not having our users limited.
We will be monitoring the libraries for performance on saving and reading, we don't want the service

[2018-10-10 02:40] MakoSipper commented on #61
It's still not working for me. I've emptied cache and forced reload, not sure if I should anything else.

[2018-10-10 08:46] gsabater commented on #61
Hello @MakoSipper

I will need you to provide all the feedback you can.
Open the developer tools in Chrome `Menu > Tools > Developer Tools`.

With the developer tools open, go to the network tab, and try to add a game to your backlog.
If there is any error, you will see an entry in red, do some screenshots and attach them here.

Also, tel me how many games are you trying to add, to which category,

[2018-10-10 14:58] MakoSipper commented on #61
No error seen. Let me be more clear:

The games seem to go into the right category, but when I reload the page, it's like nothing happened.

I still managed to add a few more games in batches of 2, 3, and 1. Now I've reached a point when I can't add any more games to Hidden. Tried different games, too.

I think these lines showed up for me when I tried adding Space Hulk to my hidden games:
![chrom

[2018-10-16 02:05] MakoSipper commented on #61
I've also recently found out that I cannot add games to ANY category, even "Dropped", which has only 2 games for me right now.

I'm thinking now the limit is just for the whole backlog, and not for each category.

[2018-10-16 09:20] gsabater commented on #61
@MakoSipper
Thanks for your feedback. I have been looking at your library in our database no errors are fired when you save the backlog. But you are right, at this moment, you only have 2 games in dropped.

I have installed an error catcher to better understand what is happening, and I also have setup a development environment where i can have your library and I will try to catch your error there.

[2018-10-16 21:18] MakoSipper commented on #61
No worries, just tell me if you need any further help.

[2018-10-17 09:44] gsabater commented on #61
@MakoSipper
I have found your problem, and indeed you were right, having more than 5000 games across all categories caused an exception.

Results that we are doing things wrong, and our servers don't handle requests with more than 5000 requests on it. The solution to this is change the way the data is sent to the server before being stored.

This will take some time as we will have to refactor a c

[2018-10-17 09:48] gsabater commented on #60
@MakoSipper
I forgot to mention, but this was implemented a week ago.
The `"Hide games already in my backlog"` option now won't hide games when you are browsing your backlog.

---

Fixed in October release.
Complete changelog in https://steam-backlog.com/changelog

[2018-10-17 09:48] #60 closed

[2018-10-17 22:09] gsabater commented on #61
Hello @MakoSipper

To address this issue, we need to:
- [ ] Change the way the backlog is stored in the Database
- [ ] Change the way we send the backlog to the user when enters the site
- [ ] Change the way we send the backlog games to the server when saving

This is not a very big deal, but it is a breaking change, and i'm afraid we might have problems with users' browser cache.

That is why we

[2018-10-19 23:36] gsabater commented on #61
Hello @MakoSipper

We have been making the changes we told you.
Can you please test saving games now? You should be able to do it fast and without problems.

Please, be **sure** you don't have any browser caché, we have reset the assets as well.

Thanks

[2018-10-20 02:43] MakoSipper commented on #61
I can't add anything to my "Hidden" category anymore, either.

[2018-10-20 02:47] MakoSipper opened #64 "Dropdowns showing behind the game cards"
I'm not sure how to trigger this, but I've seen this happen a few times over the last month. I can't always reproduce it, but it seems to affect all dropdowns when it happens.

Example:
![chrome_2018-10-19_23-45-07](https://user-images.githubusercontent.com/16372995/47250551-443d8500-d3f9-11e8-9494-4ccbb453dd41.png)

[2018-10-20 10:45] gsabater commented on #61
Sorry to hear that. Indeed, your hidden games have been unhidden because we lost the data on the migration. I have a backup of the database on my office, and I can restore your hidden games, but will be on monday.

You can, but only the last added games will be saved, its a bug we are going to solve right now

[2018-10-20 15:27] MakoSipper commented on #61
I tried adding some to Hidden yesterday, but none was saved. I could add games to other categories like "Dropped", though.

[2018-10-20 23:49] MakoSipper commented on #61
Maybe I couldn't because I was trying to re-add games that were supposed to be in Hidden already?

What do you know, now I'm able to add games to Hidden again. Maybe I'll add them manually if I'm bored, otherwise I'll wait until Monday. ;)

[2018-10-21 10:27] gsabater commented on #61
Hello @MakoSipper

First, i'm very sorry we lost your hidden games. You had a lot and we will learn from this mistake, we will be very careful to not lose user data again. We have backups for data, but unfortunately they are on my office.

Second, you have reached the limit of 5000 games and everything is working as intended, right?
I will close the issue again, and if you have any problem related

[2018-10-21 10:27] #61 closed

[2018-10-21 14:44] MakoSipper opened #65 "ERR_SSL_VERSION_OR_CIPHER_MISMATCH"
As of today, I can't open the website. The error code I get is ERR_SSL_VERSION_OR_CIPHER_MISMATCH.

It shows as "Steam-backlog.com is DOWN for everyone." on isitdownrightnow as well.

[2018-10-21 15:28] gsabater commented on #65
Hello @MakoSipper

Yeah, we have been implementing cloudflare ( https://www.cloudflare.com/cdn/ ), a service for the site to increase performance and content delivery. The migration process had a little downtime, i'd say no more than an hour, but your eagle eyes have catched us!

Anyway, thanks for the heads up.

[2018-10-21 15:47] MakoSipper commented on #65
![ninja](https://user-images.githubusercontent.com/16372995/47269073-6cc79b00-d52f-11e8-810c-aa319d7593e2.gif)

[2018-10-23 13:55] gsabater opened #66 "Scraping games are being deleted"
Some games are not scraped correctly and are being deleted from database.
Some games are games removed from Steam, while others are active games.

Example `Close Order`
Appid: 383800
Steam page: https://store.steampowered.com/app/383800/Close_Order/
Steam community: https://steamcommunity.com/app/383800

This usually happens for games that have been removed from Steam, or because the Steam API is

[2018-10-24 21:38] gsabater commented on #58
Closing after two weeks of inactivity.
Assuming it's working.

Reopen if needed.

[2018-10-24 21:38] #58 closed

[2018-10-29 01:15] MakoSipper opened #67 "Interface issue when editing colletion"
It's easier shown than explained, but the delete button is overlapped with the game name.
![chrome_2018-10-28_22-13-42](https://user-images.githubusercontent.com/16372995/47624801-edbdfe00-dafe-11e8-96a3-3f84d11343aa.png)

[2018-10-29 09:07] gsabater commented on #67
Hello @MakoSipper

Thanks for the heads up. This bug is something I have been delaying for some weeks because I think the whole "create a collection" user interface is weak and could be vastly improved.

For now I will fix the issue, but I want to change the layout. As always, designing the interface is where I struggle the most on this site.

Thanks

[2018-11-06 15:44] gsabater opened #68 "Add a custom order for backlog categories"
`It would be nice if users could have some way to put the "on hold" category in a custom order`

Suggested by Spyb0y1 via Chat

[2018-11-07 00:20] gsabater commented on #59
Hello @MakoSipper

We have reverted the change that `unmarked` or `cleared` the selection of games after adding them to a Backlog category.

We want to add a switch to give users more control over how they want the selection to behave.
I will leave this issue open to follow the implementation of said toggle.

[2018-11-07 00:33] gsabater commented on #57
As I waid in #59, we have reverted the change that unmarked or cleared the selection of games after adding them to a Backlog category. And we want to add a switch to give users more control over this feature.

[2018-11-07 11:30] gsabater commented on #67
We have solved the button placement, and we have changed the layout a little bit.

---

Fixed in November release.
Complete changelog in https://steam-backlog.com/changelog

[2018-11-07 11:30] #67 closed

[2018-11-07 11:48] MakoSipper commented on #67
Someone's been working hard ;)

[2018-11-22 11:27] gsabater opened #69 "Backlog categories show a wrong number."
Sometimes when the user adds multiple games at once for a given category, the same game is added twice. As a result of that, a wrong number is shown for the backlog category.

Reported by Pattysheppard via Email

[2018-11-22 11:30] gsabater commented on #64
Also reported by Rwig via Chat

https://i.imgur.com/2x86Mur.png

[2018-11-23 13:31] gsabater opened #70 "Reverse sorting"
[code]

Suggested by Daargen via Chat

[2018-12-16 15:57] gsabater opened #71 "Select multiple items by shift clicking"
Shift click on items to select a range.

---

Suggested by Andybak via chat

[2019-01-03 09:02] dragonshardz opened #72 "Support for non-Steam platforms"
This is probably the best of the various backlog-management tools out there, but is it possible (and practical) for support for other platforms as well? Not only Origin, battle.net, etc. but also manually added games.

[2019-01-03 12:20] gsabater commented on #72
Hello @dragonshardz, thanks for your kind words.

About having multiple sources of games, we have been studying to add them, but is not as easy as it sounds due to implications.

First, game data is scraped automatically from steam.
Each store has different apis and store data. And adapting our scrapers to each source is a manual process. Otherwise game data would need to be added manually and we

[2019-01-04 01:48] dragonshardz commented on #72
I think most people could wait on manually adding games, but expanding to more services (like GOG or Origin) would be super cool.

[2019-01-04 09:45] gsabater commented on #72
You are probably right, we'd love to expand the site to GOG, and by doing it we can understand better the implications of including more game sources.

As a reminder for myself, I will leave here a checklist of things I have to check when I take a look at this in a couple of months.

- [ ] Login with gog
- [ ] Get user games, playtime, wishlist
- [ ] Get list of gog games via API
- [ ] Image CDN
-

[2019-01-07 10:12] gsabater opened #73 "[BUG] Colletions, change sorting mode or display mode doesn't work"
After the implementation of the new search filters and sorting methods, collections are broken.

---

By Yapuka77 via https://steamcommunity.com/groups/steam-backlog/discussions/2/1741104717709610452/

[2019-01-09 23:37] gsabater commented on #73
We have updated the collection layout and implemented the new search system that solves this issue.

---

Fixed in January 2019 release.
Complete changelog in https://steam-backlog.com/changelog

[2019-01-09 23:37] #73 closed

[2019-01-18 22:34] gsabater commented on #70
In the new Backlog filters already implemented in discover weekly, genre page and profile library pages, every filter can be sorted ascending and descending.

The new beta browser page at https://steam-backlog.com/app/beta can already sort by ascending or descending, and will be released in a month or two

---

Fixed in January 2019 release.
Complete changelog in https://steam-backlog.com/changelo

[2019-01-18 22:34] #70 closed

[2019-01-18 23:05] gsabater commented on #62
Hello @MakoSipper

I think you know we have been working in a new browser layout.
It's been a while because it had complex technical implications, but in this new layout we have been thinking on this suggestion and we have come to this. Please, tell us what you think. I hope you find this as useful as we do.

![one](https://user-images.githubusercontent.com/4948172/51417351-e34f5580-1b7d-11e9-93b1

[2019-01-18 23:12] MakoSipper commented on #62
It looks great to me, really.

[2019-01-18 23:14] gsabater commented on #62
Nice.

We plan on adding a message for each filter in the browser, so this is going to take a while.
Once is live I count on you to test it and tell us if there is something wrong.

I will close the issue once this goes live.
Thanks

[2019-01-18 23:16] MakoSipper commented on #62
Count on me!

[2019-01-24 18:46] gsabater commented on #64
We have solved this issue on the new layout. Now it's possible to select multiple games and the dropdowns won't stay behind.

In beta until March that the new layout will replace the current one.

---

Fixed in January 2019 release.
Complete changelog in https://steam-backlog.com/changelog

[2019-01-24 18:46] #64 closed

[2019-01-26 02:44] MakoSipper opened #74 "[BETA] Visibility options"
"Hide games already in backlog" and "Show hidden games" options are missing from beta, in case you haven't noticed, or at least I couldn't find it for the life of me.

[2019-01-26 02:47] MakoSipper opened #75 "[SUGGESTION] Remember sorting/filtering/display options"
It would be nice if I didn't have to change these options every time I open the page.

For example, I like "Cards", "Compact", and "Hide games already in backlog" turned on. ("Cards" is default, so at least I don't have to change that myself)

Not an absolute must-have, but a quality-of-life improvement, I'd say.

[2019-01-29 05:20] MakoSipper opened #76 "[BUG] With games selected, dropdown shows behind game cards"
Here's a short video that explains it better than words:

https://youtu.be/eH7OzBBDE6c

[2019-02-02 00:18] gsabater commented on #75
Hello @MakoSipper

This is something we would like to do, but we don't know how to present those settings to the user.
I would like to do it someday, but definitely not a priority right now.

Thanks for the feedback

[2019-02-02 00:34] MakoSipper commented on #75
I think the most simple way of doing this would be to remember the last used settings. Just a thought.

[2019-02-02 01:17] gsabater commented on #74
Hello @MakoSipper

Our first change of february has been including the visibility options in the beta layout.
You can try it at https://steam-backlog.com/app/beta

As always, tell us if you find anything wrong or if you need any help.

---

Fixed in February2019 release.
Complete changelog at https://steam-backlog.com/changelog

[2019-02-02 01:17] #74 closed

[2019-02-08 16:45] gsabater opened #77 "Suggestion, add notes to games"
[code]

Suggested by VengefulSniper via Chat

[2019-02-09 00:43] spitfireCH opened #78 "Add link to steam store on game info"
When browsing the games and clicking a game to get more info on it, a direct link to the steam store could be useful. You can already get there by clicking on "Steam Score", but that's not very obvious.

It's also entirely possible the link is already there and I simply can't see it (like the cheese in the fridge in front of my nose which is magically invisible to me but not to my wife)... ;)

[2019-02-09 00:51] PescheHelfer opened #79 "Browsing your library -> add to collection"
When you browse your library, select some games and click the plus button, you can add them to _playing games, completed games_ etc. It would be nice if you could also add them to your collections this way.

[2019-02-09 00:51] gsabater commented on #78
Hello @spitfireCH,

We are actually working in something called "button section" with buttons to external sources like the steam store, the humble store, etc.

The main reason this hasn't been implemented yet is because we literally don't know where to put those buttons. But we are trying to have this asap.

Thanks for the feedback.

[2019-02-09 00:55] spitfireCH opened #80 "Filter buffer when adding games to a collection"
When searching for games to be added to a collection (edit collection screen), the old (unbuffered) filter method is used. Adding a buffer could help here, too.

[2019-02-09 00:59] spitfireCH commented on #78
Sounds like a great idea, thanks for looking into it!

[2019-02-17 17:58] gsabater commented on #80
Hello @spitfireCH

You are right, but the whole collection area uses the old filtering system. We cannot apply the buffer without updating a lot of inner code. Which we want to do, with a lot of other improvements to the collection section.

[2019-02-17 23:22] gsabater commented on #78
Hello @spitfireCH

We have added a couple of buttons to the game modal.
Now you will see buttons to launch / install a game, a button to download a free demo (when available and you don't own the game), and a button to the steam store.

We don't love how are they displayed, so we might change it, but at least, they are there and I don't think that they will be removed.

### Screenshots:
![captura

[2019-02-17 23:22] #78 closed

[2019-02-17 23:49] spitfireCH commented on #78
Very nice! Thank you very much!

[2019-03-25 15:23] gsabater commented on #80
Hello @spitfireCH
We have updated the create collection logic, and it has been updated to use the default filtering method with search buffer.

Thanks a lot for your continued contributions to the site.
---

Implemented in March 2019 release.
Complete changelog at https://steam-backlog.com/changelog

[2019-03-25 15:23] #80 closed

[2019-03-25 15:28] gsabater commented on #62
As this is now the default layout, we will close this issue.
Reopen again or create a new issue if you encounter any problems.

[2019-03-25 15:28] #62 closed

[2019-03-25 15:32] gsabater commented on #57
Closing as now the default selection modal has an option to clear the selection (active by default) after adding the games to your backlog.

![modal](https://user-images.githubusercontent.com/4948172/54932662-765c9100-4f1b-11e9-96c3-53295179ac1e.PNG)

[2019-03-25 15:32] #57 closed

[2019-03-25 15:34] gsabater commented on #53
Those dropdowns are no longer used

[2019-03-25 15:35] #53 closed

[2019-03-25 18:51] spitfireCH commented on #80
Thx! :) 👍

[2019-03-30 12:02] MakoSipper opened #81 "[BUG] Clicking on games sometimes won't open the card with information"
Examples:

- Noticed with games 303850 and 391920.
- App 67910 is a video; The image is correct, but it shows its name as Farming Simulator 2011 for some reason.
- App 488250 is also a video. Log below (from Chrome's console, all of these examples seem to generate similar logs, 4 errors each click):

[code]

[2019-03-30 15:43] gsabater commented on #81
Hey @MakoSipper

You are completely right. Turns out we were storing more than games and DLC in the database.
After a quick search, steam provides videos, demos, episodes, servers, and other pieces of media.

We are going to clean the database of all this kind of stuff. I stimate a period of three months until everything has been cleared out.

Thanks a lot

[2019-04-07 12:24] MakoSipper opened #82 "[BUG] Apps with incorrect names"
![image](https://user-images.githubusercontent.com/16372995/55683509-ea813680-5916-11e9-9e57-9e45d1964bf1.png)
^ For example.

Thankfully, I was able to find it using the game id. ;)

This might or not be related to issue #81

[2019-04-07 12:25] MakoSipper commented on #82
Also, I'm sure this is a new(-ish?) issue. I'm sure it wasn't called "Mabinogi" back when I added it to my backlog.

[2019-04-07 17:08] gsabater commented on #82
Hello @MakoSipper

You are right, this problem has been caused due to recent changes to the scraping system.
I made those changes to remove demos and other non-games apps from database, as well as reduce database size to increase loading times and include store links to games. In the process, a new bug appeared when the system updates a game that is removed from steam. All the following games upda

[2019-04-07 17:13] MakoSipper commented on #82
You could try, if it's not too much trouble. If people start abusing it or if you're having way too much trouble dealing with those, you can always take it down :)

[2019-04-07 17:19] MakoSipper commented on #82
I've also noticed that there are many games wrongfully name "Mabinogi".

[2019-04-07 23:01] gsabater commented on #82
I don't think that people would abuse a helping form, and it could help a lot to fill wrong data for removed games from steam or the infamous problem with game release dates (do you remember?)

Ok, tomorrow i will refresh the scraping for any game called borderlands 2 and mabinogi.

 I will keep this issue open for a while and if you spot any other game with wrong name, just let me know. I will cl

[2019-04-08 10:54] gsabater commented on #82
### Update

* 8 Apps called Mabinogi updated
* Appids: 212200, 409320, 344040, 541160, 673000, 280040, 477160, 212210
* _212200 and 212210 have been removed from db._

Those changes should be visible after db is updated and cache is refreshed.
I will test in 24hours in incognito mode.

[2019-04-08 14:22] gsabater commented on #82
### Update

* 21 apps called "Borderlands 2 RU" updates
* Appids: 217610, 217630, 229150, 232990, 229160, 229170, 257330, 239680, 249920, 268610, 217490, 217550, 248270, 254170, 238300, 217570, 545250, 21730, 351970, 254180, 217590
* _217610, 217630, 229150, 229160, 229170, 257330, 239680, 217490, 217550, 254170, 217570, 254180 and 217590 have been removed from db._

Those changes should be visibl

[2019-04-10 15:47] gsabater commented on #82
### Update

* 21 apps called "Trials Rising" updated
* Appids: 641080, 928770, 1003010, 1040900, 1041670, 1039370, 809230, 1011470, 1020430, 924180, 1041430, 1020440, 924840, 1028520, 998570, 413610, 1042090, 1008300
* _  928770, 924180 and 924840, have been removed from db._

Those changes should be visible after public db is deployed and cache is refreshed (24h)

[2019-04-11 10:54] gsabater commented on #82
### Update

* 21 apps called "La Corda d'Oro Octave - 金色のコルダ オクターヴ" fixed
* Appids: 1040040,1044640,1011350,1028760,1033620,1042310,1021830,742510,846590,623870,413950,1001470,387580,826620,419580,1005410,1019230,1033820,1041240,1036120,1041750,1015620,997950,1040680,1037860,1042460,1019420,1033490,1035280,998320,998310,998290,998280,998260,998250,998240,1041660,998140,998230,1040200,998210,998200

[2019-04-11 10:58] gsabater commented on #82
### Update "Skullgirls ∞Endless Beta∞"

* 5 apps fixed
* Appids: 275170, 340450, 12770, 471010, 208610

Those changes should be visible after public db is deployed and cache is refreshed (24h)

[2019-04-15 09:28] gsabater commented on #82
### Update "(Depreciated)"

* 5 apps fixed
* Appids: 295060, 303250, 301710, 292750

Those changes should be visible after public db is deployed and cache is refreshed (24h)

Those changes should be visible after public db is deployed and cache is refreshed (24h)

[2019-04-15 09:34] gsabater commented on #82
### Update "- Arcane preRaise -"

* 5 apps fixed
* Appids: 609796, 609795, 609794, 609793, 609792, 609791, 603780
* _609796, 609795, 609794, 609793, 609792, 609791  have been removed from db._

Those changes should be visible after public db is deployed and cache is refreshed (24h)

[2019-04-16 10:34] gsabater commented on #82
### Update "3DCoat"

* 4 apps fixed
* Appids: 257610, 255050, 234570, 219210
* _219210 have been removed from db._

Those changes should be visible after public db is deployed and cache is refreshed (24h)

[2019-04-16 10:39] gsabater commented on #82
### Update "Music Creator 6 Touch"

* 15 apps fixed
* Appids: 297140, 245810, 215850, 261160, 257320, 222710, 293080, 285630, 285620, 285610, 241090, 241490, 241230, 241970, 241960
* _293080, 285630, 285620, 285610, 241090, 241490, 241230, 241970 and 241960 have been removed from db._

Those changes should be visible after public db is deployed and cache is refreshed (24h)

[2019-04-16 10:55] gsabater commented on #82
### Update "Agarest: Generations of War"

* 60 apps fixed
* Appids: 372710, 505060, 307940, 437220, 306660, 567780, 374240, 504800, 46560, 372960, 438240, 251080, 265130, 259240, 222630, 268710, 255140, 208790, 259220, 242270, 249910, 246050, 237070, 215310, 237890, 241150, 240890, 240120, 241140, 239860, 240880, 240110, 241130, 240870, 240100, 241120, 240860, 240850, 240080, 240840, 240070, 24006

[2019-04-16 14:28] gsabater commented on #82
### Update "Sins of a Dark Age"

* 4 apps fixed
* Appids: 267830, 254260, 238900, 237620, 215860, 251970, 270900
* _270900 have been removed from db._

Those changes should be visible after public db is deployed and cache is refreshed (24h)

[2019-04-16 14:34] gsabater commented on #82
### Update "Who Wants To Be A Millionaire?"

* 4 apps fixed
* Appids: 257610, 255050, 234570, 219210

Those changes should be visible after public db is deployed and cache is refreshed (24h)

[2019-04-16 14:38] gsabater commented on #82
### Update "Tomb Raider"

* 24 apps fixed
* Appids: 213900, 210060, 267660, 208790, 8000, 391220, 225320, 225300, 225020, 225000, 208800, 849310, 905320, 237450, 849170, 849180, 974630, 541750, 750920, 8009, 7000, 8030, 849260, 7030, 849300
* _7030, 8030, 237450, 541750, 849170, 849180, 974630 have been removed from db._

Those changes should be visible after public db is deployed and cache is ref

[2019-04-16 14:42] gsabater commented on #82
### Update "Flow DJ Software"

* 3 apps fixed
* Appids: 277770, 257290, 264970

Those changes should be visible after public db is deployed and cache is refreshed (24h)

[2019-04-16 14:44] gsabater commented on #82
### Update "America's Army: Proving Grounds"

* 3 apps fixed
* Appids: 249730, 203290, 239490

Those changes should be visible after public db is deployed and cache is refreshed (24h)

[2019-04-16 14:45] gsabater commented on #82
### Update "Resident Evil 4"

* 4 apps fixed
* Appids: 235140, 273540, 254700, 272260
* _272260 have been removed from db._

Those changes should be visible after public db is deployed and cache is refreshed (24h)

[2019-04-16 14:47] gsabater commented on #82
### Update "Scrabble"

* 4 apps fixed
* Appids: 258420, 240500, 236660, 234100

Those changes should be visible after public db is deployed and cache is refreshed (24h)

[2019-04-16 14:48] gsabater commented on #82
### Update "Dead island riptide JP"

* 2 apps fixed
* Appids: 244060, 240220

Those changes should be visible after public db is deployed and cache is refreshed (24h)

[2019-05-12 03:33] MakoSipper commented on #77
I came here to suggest just that, so +1

[2019-06-25 16:29] gsabater opened #83 "New Filter: Language"
Allow filtering by locale

--

Suggested by Ninô on [Discord](https://discord.gg/F2sPE5B)

[2019-06-25 17:02] gsabater commented on #82
@MakoSipper

I have finished to refresh all detected games with wrong games.
Database will be refreshed tomorrow, and any spare game that needs to be updated but I haven't detected, should be automatically updated at most by September, even those are mostly DLCs

Closing the issue

[2019-06-25 17:02] #82 closed

[2019-07-06 22:44] gsabater opened #84 "New Filter: Release date"
Let users filter games with a release date filter, where two years can be selected and only show games released in that range

---

Suggested by SwitchNX on Discord

[2019-07-07 11:17] gsabater commented on #84
Additional filters:
`"i would like a filter where you could use a score range and a price range....from 90 to 100,from 1 to 5 eur"`

[2019-07-11 17:49] gsabater commented on #66
The scraper has been updated since this issue, and all games are updated periodically.
Also, all deleted games are checked for false removes periodically as well.

[2019-07-11 17:49] #66 closed

[2019-07-11 18:27] occupanttheory opened #85 "Some Steam games not found in Library or Steam Catalog"
Example: Grim Legends 3: The Dark City. When I filter by names "grim", "grim legends", or any other portion of the name, I do not see the game in my Library or in the Steam Catalog. I have encountered a few games like this, for example "FTL: Faster than Light" and "Stardew Valley". I wasn't sure if it was due to an unreported defect.

[2019-07-11 18:48] gsabater commented on #85
Hello @occupanttheory

I have checked and I could find Stardew valley and FTL.
![1](https://user-images.githubusercontent.com/4948172/61076729-2f889d80-a41d-11e9-9d9a-3e9cbe6ebd81.PNG)
![2](https://user-images.githubusercontent.com/4948172/61076733-32838e00-a41d-11e9-8940-1f5104770f01.PNG)

Grim legends 3 is missing for me as well, i'm going to take a look at it.
Appid: 458470
Store: https://store

[2019-07-11 18:49] gsabater commented on #85
Oh @occupanttheory , please be sure to have your cache clean. You might want to test again in incognito mode.

Can you give me more information like browser and operating system?

[2019-07-11 19:55] occupanttheory commented on #85
Thanks, @gsabater! Interesting that they appear for you, but not me! I have tested in incognito mode, but still don't see the games. Screenshots attached, in case they identify something I'm doing wrong.

![image](https://user-images.githubusercontent.com/14241872/61080896-07387900-a3f4-11e9-9131-37006270d048.png)

![image](https://user-images.githubusercontent.com/14241872/61080916-128ba480-a3f4-

[2019-07-11 20:08] gsabater commented on #85
@occupanttheory

Thanks for the screenshots. As long as you have chrome you should be good, so no problems here.

Other test you can do are:
- Be sure to order by name, maybe your browser is having issues when processing scores
- Search by appid instead of name. FTL is 212680
- Use a different browser on the same computer ( no need to login), and another device. For example your phone.

Depending

[2019-07-11 21:07] occupanttheory commented on #85
Great suggestions! Here's the results:

1. Filtering by name (not metascore): do not display
2. Another browser on the same machine (**NOT logged in**): **they both show**!
3. Another browser on the same machine (**logged in**): neither of them show!

Which made me want to go back and try:

4. Chrome, but **not logged in**: **they both show**!

So it seems to be something to do with my authenticat

[2019-07-11 21:14] gsabater commented on #85
@occupanttheory un glad the testing has been useful!
Definitely looks like it might be something on your user. If you can, please tell me your steam profile, I will look at the database and search for clues.

Also, you might have hidden the games accidentally?
Yo can go to the backlog tab, and the last button is "hidden apps" go there and see if you have hidden them by mistake. When you open the g

[2019-07-11 21:24] occupanttheory commented on #85
Holy cow, that was it. They were just accidentally hidden. So missing games seems to still be a thing (i.e. Grim Legends 3), but far less common than I originally thought!

It sounds like you already have what you need to replicate the Grim Legends 3 issue, but let me know if I can help troubleshoot that! Thanks so much for the tool, it's amazing!

[2019-07-12 08:44] gsabater commented on #85
@occupanttheory I'm happy to see that was it. I guess you accidentally assigned the hidden status at some point.

If you feel that any interaction could be improved to better understand the website or any other suggestion based on your experience, please, let me know.

About the Grim Legends 3, I already know what happened.
Some months ago I had a bug on the website scraper and some games got flag

[2019-07-16 16:41] gsabater commented on #85
@occupanttheory
Hello again. As expected, Grim Legends 3 is now available on the site.
I will close the issue, feel free to open it again or a new one if you find any other problems.

We are also on Discord in case you rather use a chat channel.
https://discord.gg/F2sPE5B

![grim legends](https://user-images.githubusercontent.com/4948172/61312723-4c481b00-a7f9-11e9-89f8-4767a91953d6.PNG)

[2019-07-16 16:41] #85 closed

[2019-07-22 18:03] gsabater commented on #84
Release date filter is live
![released](https://user-images.githubusercontent.com/4948172/61653934-b3634500-acbb-11e9-8fb4-7340d21f339e.PNG)

[2019-08-09 15:40] MakoSipper opened #86 "[BUG] Game with wrong name"
![chrome_2019-08-09_12-38-06](https://user-images.githubusercontent.com/16372995/62791031-b96e6980-baa2-11e9-8d24-74e66d6aba30.png)
Hyperdimension Neptunia Re;Birth2: Sisters Generation
https://store.steampowered.com/app/351710/Hyperdimension_Neptunia_ReBirth2_Sisters_Generation/

[2019-08-09 15:42] MakoSipper opened #87 "[BUG] "With achievements" filter not working correctly"
Many games without achievements still show with the filter on, not sure why. Only a few (about 100 out of 3800) seem to be hidden this way, not sure why either.

[2019-08-14 22:50] gsabater commented on #86
Hello @MakoSipper
This is related to the unfamous #82

I have manually solved this specific game. Database will be refreshed tomorrow.

Any other games afftected by this issue should be updated at most by september.

Thanks for the feedback!

[2019-08-14 22:50] #86 closed

[2019-08-18 16:09] gsabater commented on #87
Hello @MakoSipper

Can you please tell me some examples?
names and appids are ok

[2019-08-18 17:04] MakoSipper commented on #87
https://store.steampowered.com/app/556180/Mysterium_A_Psychic_Clue_Game/

Doesn't get filtered out when I select "With achievements", although it doesn't have them.

[2019-08-18 17:24] gsabater commented on #87
You are right,
for some reason, this game has 0 achievements (which technically is different to no achievements).

I'll solve this asap.
Thanks

[2019-08-20 18:46] gsabater commented on #87
@MakoSipper
This should already be addressed

---

Fixed in October 2019 release.
Complete changelog at https://steam-backlog.com/changelog

[2019-08-20 18:46] #87 closed

[2019-08-20 18:54] gsabater commented on #79
Hello @spitfireCH
This issue is long overdue, but today I have released an update where you can do exactly this, you can quickly add a game to a collection and even create a new collection in the same menu.

Try it on the site and tell me what you think!

[2019-08-26 08:42] gsabater opened #88 "[Interface bug] Incomplete collection interactions"
From now, users don't have an interface to see all their collections. Only the latest and public are shown on the profile. Private collections are hidden from the user as well.

Also, there is no way to remove a collection. Related to #49

--
Reported by Kkaspara on Discord

[2019-09-03 18:28] gsabater commented on #83
For some reason i didn't closed this issue when it was done.
Closing now

---

Made in July 2019 release.
Complete changelog at https://steam-backlog.com/changelog

[2019-09-03 18:28] #83 closed

[2019-09-03 18:37] gsabater commented on #75
Hello @MakoSipper

I have been talking to you on discord, but I have seen this issue now.
This new system would make a custom URL with the selected filters. See example:
![share](https://user-images.githubusercontent.com/4948172/64199305-4fbb6280-ce8a-11e9-9b72-77a29d726812.png)

The thing is that only filters are applied, and not UI options like `cards` `compact` or `hide flagged games`. Those ar

[2019-09-07 03:44] ahal opened #89 ""Something went wrong when saving your data" when trying to create a collection"
STR:
Right click a game.
Select the "Collections" tab
Select "Create new collection"
Enter a name and press "Create"

Result:
A toast with the text "Something went wrong when saving your data" appears near the bottom of the page.

Note, I'm using Firefox and I've disabled adblockers.

[2019-09-08 14:29] enchained commented on #89
Chrome:
[code]
probably cause `parent = document.querySelector(Settings.parent)` results in `null`

[2019-09-09 09:34] gsabater commented on #89
Hello @ahal , sorry for the delay in answering,

I have been looking into this and in fact I have received error reports about it as well.
Looks like there is something wrong with one of the changes i made recently. The backend is not registering the selected game at the moment to create the collection, and is rejecting the request because collections can't be empty.

I'm going to take a look at r

[2019-09-09 09:36] gsabater commented on #89
Hello @enchained
This is another issue not related to the OP.

The problem you report is an issue with a javascript plugin called NProgress. I have been thinking to use it for a while, but ended not doing it. I'm also going to see where is invoked and I will remove the references as well.

Thanks for your feedback!

[2019-09-09 15:18] gsabater commented on #69
"The amount of games in a category is no longer shown, and also now there is a method that clears duplicates in categories."

[2019-09-09 15:18] #69 closed

[2019-09-10 16:04] gsabater commented on #89
Hello @ahal
The issue has been corrected.

Thanks a lot for your feedback. Feel free to reopen the issue if you encounter more problems, or open a new one if you find something unrelated.

---

Fixed ~ September 2019
Complete changelog at https://steam-backlog.com/changelog

[2019-09-10 16:04] #89 closed

[2019-09-10 16:32] ahal commented on #89
Thanks @gsabater!

Also thanks in general for the great app, your hard work is very much appreciated.

[2019-09-15 15:49] gsabater commented on #71
I have finally managed to complete this suggestion.
Now it's possible to enter the multi-select layout and just shift-click to select multiple games at once.

The selection will range from the last selected element to the current element selected with shift.

--

Fixed ~ September 2019
Complete changelog at https://steam-backlog.com/changelog

[2019-09-15 15:49] #71 closed

[2019-09-25 09:21] vogler opened #90 "uBlock Origin hides "Login with STEAM" button"
As mentioned in https://github.com/JosefNemec/Playnite/issues/1109
With uBlock Origin 1.22.2
![image](https://user-images.githubusercontent.com/493741/65587484-350a7400-df86-11e9-833c-28f4684ec670.png)
I get
![image](https://user-images.githubusercontent.com/493741/65587177-b7466880-df85-11e9-8c90-d08373a3047e.png)
After disabling it for the site I get
![image](https://user-images.githubuserconten

[2019-09-29 16:08] gsabater commented on #90
Hello @vogler
First of all, sorry for the late answer.

I have tried to reproduce the issue without luck I also have ublock origin (v 1.22.4) and the button is there for for me with it enabled and disabled.

I will make a few changes to the homepage and that button will have completely different styles and classnames, so when the new homepage is live im going to ask you if you can see it or not. T

[2019-10-01 15:59] gsabater commented on #90
Hello Again @vogler

I have updated the homepage and replaced all the login buttons across the whole website for a more "classical" button (just bootstrap primary).

Please, let me know if you still can't see the button, because I seem to see it even in incognito (with a new session) and with ublock activated. I left you a link here: https://steam-backlog.com

![login with ublock](https://user-ima

[2019-10-01 17:54] vogler commented on #90
Button is there now with uBlock active 👍

[2019-10-01 17:54] #90 closed

[2019-10-01 21:54] gsabater commented on #90
Thanks a lot for your time and feedback.
As a note , i think that ublock removed the button because that button has the classname "btn-social" and I guess that the extension thougth that the button was some kind of third party intrusive widget.

If you have any other suggestions or find any other bugs, please, use this channel or you can also use the discord. Thanks again

---

Fixed ~ September 2

[2020-03-02 16:14] enchained commented on #89
@gsabater Thanks for fixing it back then, but now it looks like it doesn't work again. Can't save the new collection. It gives an error message: Something went wrong when saving.
Is the collection endpoint down?
[code]

request details:
url: https://steam-backlog.com/api/collection/store

form data:
collection%5Bname%5D=My+new+collection&collection%5Bapps%5D%5B%5D=400&collection%5Bapps%5D%5B%5D=62

[2020-03-02 17:03] gsabater commented on #89
@enchained thanks for bringing this to me.
I have made several changes to the site and i'm planning a release for this month.
I probably have messed something up, and I should take a look at this, but i wont be able to do it in less than a week or two.

Thanks for pointing me to this, i will investigate this and reach you once this is solved.

[2020-03-06 16:06] enchained opened #91 "[Feature suggestion] HLTB link suggestion for the missing matches"
Hi. I'm not sure about how are you matching the HLTB data, but HLTB+Steam Reviews data combination is a very important thing to me, sadly a lot of games don't have that data on your site, for example, GRIS https://steam-backlog.com/game/gris. I suppose it can be a matching problem, and one way to solve it would be having a report form for the game. It could contain a field for the HLTB link, and y

[2020-03-06 16:11] enchained opened #92 "[Bug] Wrong skipped games number after sorting"
I suppose since not all games have the data that is used by specific sorting, some are getting skipped in the process. For example, I open a list of 40 games, and if I sort it by HLTB - Fastest, it shows like "Displaying 28 results. Skipped 0 elements". I think it should probably say that 12 other elements were skipped then.

[2020-03-06 16:13] enchained opened #93 "[Bug] Duplicates in search results"
When I search for certain games, like 'wolfenstein', I can see it duplicated in the live search results and on the results page.

[2020-03-08 17:59] gsabater commented on #91
Hello @enchained

Data from HLTB comes from one of my partners, and in fact the method used to populate that information is from users who enter the HLTB ID manually. That is why not all games have that information available.

You suggest a report form page for games where missing data can be filled, and I also think that this is the best option to fix some data like missing HLTB links, wrong rele

[2020-03-08 18:04] gsabater commented on #92
Hey @enchained

Can you please give me a screenshot?
Indeed, when sorting games, items without the sorting criteria (a score, HLTB, etc) are skipped.
The explanation of what games and why some games have been skipped can be improved tho.

Give me the list giving you problems and i will take a look.

[2020-03-08 18:06] gsabater commented on #93
Hello @enchained

You are right, sometimes duplicates can appear when a games has multiple appids. For example, you can see how both those URLs end in the same game
https://store.steampowered.com/app/612880
https://store.steampowered.com/app/650500

I can take a look at this as well, thanks for bringing this up

[2020-03-09 13:57] enchained commented on #92
Hi. For example, this is my list: https://steam-backlog.com/u/enchained/next When I sort by HLTB or Steam score for example, the games number is decreased, while the skipped number is always 0.

It would be nice to see something like "skipped due to sorting/filters" and "click to reset" next to it

[2020-03-09 14:32] gsabater commented on #92
Perfect, I will take a look and return back.
Thanks for the feedback.

I was thinking about adding something useful to the lists/collections, for example graphs and stats. Any ideas about what could be useful or cool?

[2020-03-11 18:35] gsabater commented on #92
Hello again @enchained

Following your suggestions, i have made a few updates to the whole explanation system.
Now the howlongtobeat reason is reflected instead of just decreasing the number of games in the collection without giving an explanation of why.

The skipped games are shown as well, and each filter has a button to remove it. Do you think its intuitive?

Please, see this screen, and tell

[2020-03-13 00:10] enchained commented on #92
Hi. I think it looks great! It's really detailed and looks like a more flexible system now. Looking forward to the release.

As for the ideas, I think I had some, I'll think more and create some feature requests when I'll have more time. One idea was about completion progress (via achievements import or manual percentage), another thought was about tag exclusion (show games without that tag), "hid

[2020-03-15 18:13] gsabater commented on #92
@enchained thanks for your comments.
As the topic related to the explanation in skipped games is resolved, im going to close this issue.

Please, open new issues for every new problem or idea you might have and i can work on them as well.

just as an ending note, i won't enable users to upload any kind of media to the website for security reasons. But i will add a new visibility option to enable o

[2020-03-15 18:13] #92 closed, assigned to nobody

[2020-04-09 04:27] screwll opened #94 "[Bug] Can't change status of games"
When i try to press the button to change status of games nothing happens, can't even press the button.

[2020-04-09 10:45] gsabater commented on #94
Hello @screwll, thanks for reaching out.

Can you please tell me what operating system and browser are you using?
If possible, you can also send me a screen recording or at least a screenshot.

Thanks a lot!

[2020-04-10 04:42] screwll commented on #94
Windows 10 and Firefox, I tried with a diferent browser and even in the phone browser but is the same.
Here is a video https://streamable.com/9d5qit
When i log out i can press the button normally as shown in the video.

[2020-04-10 13:53] gsabater commented on #94
Hola @screwll,

después de ver el vídeo creo que podemos hablar en castellano tranquilamente.
Ya veo lo que te ocurre, sin embargo, es algo extraño ya que con firefox no puedo reproducirlo.

Imagino que este sistema si que debía funcionarte en algún momento porque veo que tienes algunos juegos catalogados como favoritos ya.

Si fueras tan amable de entrar en la web, y darle a botón derecho -> insp

[2020-04-10 21:28] screwll commented on #94
Ahi lo abri y me sale todo esto
![Captura de pantalla (127)](https://user-images.githubusercontent.com/63386297/79024323-fa021380-7b58-11ea-989b-6bad49400e99.png)
![Captura de pantalla (128)](https://user-images.githubusercontent.com/63386297/79024325-fbcbd700-7b58-11ea-811d-934f03bdbaf8.png)

[2020-04-10 23:52] gsabater commented on #94
Muchísimas gracias.

Parece que con esto puedo ir investigando.
Lo miro y te digo cosas lo antes posible.

Dejo la issue abierta

[2020-04-11 14:26] gsabater commented on #94
Hola @screwll ,

ya debería estar solucionado tu error. Parece que hubo un problema con una de tus colecciones que se guardó vacía, y eso hacía que hubiera unos errores que no permitían continuar los scripts correctamente.

Muchísimas gracias por tu apoyo, no dudes en volver a crear incidencias si tienes cualquier otro problema.

---

Fixed @ Spring 2020
Complete changelog at https://steam-backlog

[2020-04-11 14:26] #94 closed, assigned to nobody

[2020-06-18 18:09] VengefulSquid opened #95 "[Bug] Compact view displays icons full size"
Compact view displays icons at same size as comfortable mode but one by one vertically. I'm new to this site but I think they are supposed to be smaller than comfortable.
![steambacklog](https://user-images.githubusercontent.com/14372672/85056421-1c3a9200-b197-11ea-916e-ffbfe99b3b31.PNG)

[2020-06-18 19:45] gsabater commented on #95
Hello @GentlemanSquid

First of all, thanks for your feedback and welcome.

It's possible for you to give me a screenshot where I can see at least two posters?

Also, what browser are you using?

Does this happen without filters as well?

Thanks

[2020-06-18 19:51] VengefulSquid commented on #95
Thank you. I am using Chrome on Windows 10. Its the same without filters.

![sb1](https://user-images.githubusercontent.com/14372672/85065623-66c30b00-b1a5-11ea-9b06-1617decf56dd.png)
![sb2](https://user-images.githubusercontent.com/14372672/85065625-675ba180-b1a5-11ea-8a30-12d54fa849d7.png)
![sb3](https://user-images.githubusercontent.com/14372672/85065616-6460b100-b1a5-11ea-9731-37d421b50f82.png

[2020-06-18 20:02] gsabater commented on #95
Thanks a lot for the screens.
I have more questions to help figuring what might be wrong:

- Can you check that your chrome is updated?, This is done under the chrome menu > about chrome
- does this happen on your library or also on the " all games" tab?
- can you check on incognito? You don't need to login, just go to browse all games.
- can you check again on other browser you might have install

[2020-06-18 20:07] VengefulSquid commented on #95
- Yes my chrome is up to date.

- Happens on all games too.

- Happens on incognito mode as well.

- Happens in latest update of firefox and edge.

I'm happy to supply more images and answers.

[2020-06-21 10:17] gsabater commented on #95
Hello @GentlemanSquid

Thanks again for the heads up, i have been able to reproduce and solve the issue.
The `compact` view should be able working again. I suggest you to use it with vertical posters because with the other small ones I find it a bit oppresive.

You might need to have your caché flushed before seeing it correctly.

Thanks again, and don't doubt to open a new issue if you find any b

[2020-06-21 10:17] #95 closed, assigned to nobody

[2020-12-14 19:46] mousesama opened #96 "Suggestion: Extra sorting and UI for completionists"
I absolutely love the ability to sort my games based on the time to beat, I have been looking for a tool like that to help me manage my huge library. However, I would like to use that to see what games I can not just beat, but 100% beat (ie. all steam achievements), which can be wildly different times so the current sorting is not as useful for me. If an extra sorting based on the completionist ti

[2021-02-24 06:14] azumukupoe opened #97 "Sort by review count / Wilson score"
sorting by review count shows how popular the game is on Steam

sorting by Wilson score is much better than simply sorting by Steam score
https://www.evanmiller.org/how-not-to-sort-by-average-rating.html

[2021-02-24 12:26] gsabater commented on #97
Ey @azumukupoe
What you are linking here is very interesting!
I could implement this math, but i'm not actively working on the site (just fixing bugs when they popup), so i cannot guarantee that this will be done. But if I make updates to the site at some point, i will keep in mind.

Thanks a lot

[2021-10-08 13:25] SilverKnightKMA opened #98 "Some games not showing on steam backlog..."
there are some games not showing on steam backlog, how can i update them?
for example this game
https://store.steampowered.com/app/1448030

[2021-10-08 13:29] gsabater commented on #98
Hello @SilverKnightKMA

I can see the game , just search the name or part of the name , and in this case, as this game has no metacritic score, just sort the results by name

See attached image

![image](https://user-images.githubusercontent.com/4948172/136565817-fdaeb8d4-f41a-4cd0-b973-a986214ec863.png)

[2021-10-08 13:38] SilverKnightKMA commented on #98
thanks, i will close the issue

[2021-10-08 15:37] SilverKnightKMA commented on #98
sorry i reopen the issue, but i can't find the game, is it banned?
https://store.steampowered.com/app/774171/Muse_Dash/
![image](https://user-images.githubusercontent.com/55577865/136584810-517875ff-0510-40cf-a34d-f32ecadcfb06.png)
![image](https://user-images.githubusercontent.com/55577865/136584862-4a9f6ecf-ef5d-44fd-956c-ce0cb45951e4.png)
it has some adult tags so i'm not surprised

[2021-10-08 16:44] gsabater commented on #98
Sincerely this one I dont know.
Is not in the ddbb either as an app or in the blacklist.
Maybe its in the queue to update and will show soon?

I will keep a look at it.
Thanks

[2021-10-10 14:22] azumukupoe opened #99 "How do I exclude by tags?"

[2021-10-10 16:25] gsabater commented on #99
Hello @azumukupoe tags are not exclusive. you can select tags and the filters will show you games with those tags, but you cannot select a tag to exclude games containing the selected exclusion.

[2021-10-10 16:45] azumukupoe commented on #99
Okay, I will use another website for now

[2021-10-10 17:24] #99 closed, assigned to nobody

[2022-02-08 12:37] SilverKnightKMA commented on #98
Any update? Can you add it manually?

[2022-03-25 00:06] Peeja commented on #55
I could really use this for filtering out VR games!

[2022-09-22 19:39] codyburley opened #100 "Left over lorem ipsum"
There's some left over placeholder lorem ipsum under the popular categories section of the home page.

![image](https://user-images.githubusercontent.com/106035861/191836247-18dac281-0a08-403d-8064-3b732a74ba73.png)